<!doctype html>
<html>
<head>
<meta charset=utf-8>
<title>html5 test page</title>
<link href="/public/html5.css" type="text/css" rel="stylesheet"/> 
<style type="text/css">
  body {
  background-color:#00cc00;
  width:100%;
  }
  #container {
  background-color:#ddd;
  width: 960px;
  margin: 10px auto;
  }
  #sidebar {
  float: left;
  width: 20%;
  height: 768px;
  background-color:#dd0000;
  }
  .content {
  float: right;
  width: 80%;
  height: 768px;
  background-color:#0000dd;
  }
  #footer {
  clear: both;
  }
</style>
</head>
<body>
<div id="container">
  <div id="sidebar">
  </div>
  <div class="content">
    content 1
  </div>
  <div class="content">
    content 2
  </div>
  <div id="footer">
  </div>
</div>
</body>
</html>
